body {
    margin: 25px;
    background-color: #B5D6B2;
    font-family: arial, verdana;
    font-size: 14px;
    margin-left: 150px;
	margin-right: 150px;
  }
  
h1 {
    font-size: 45px;
    font-weight: normal;
    margin-top: 5px;
	color: mediumseagreen;
}

li {
    font-size: 16px;
    font-weight: normal;
	color: rgb(226, 15, 43);
}


header, footer{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main{
	margin-left: 100px;
	margin-right: 100px;
}

h2, h3
{
	font-family: Cambria, Cochin, Georgia, serif;
	text-align: center;
	line-height: 0px;
	color: rgb(65, 24, 212);
}

a
{
	text-decoration: none;
	color: lightseagreen;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: mediumseagreen;
}

figure
{
	text-align: center;
}

p
{
	color: mediumseagreen;
}

.center
{
	text-align: center;
}

div {
    border: 10px solid green;
	font-size: 30px;
    font-weight: normal;
    padding: 20px;
    margin: 20px;
	color: mediumseagreen;
}

figcaption
{
	color: mediumseagreen;
}

p
{
	color: rgb(13, 33, 218);
	font-size: 25px;
    font-weight: normal;
}
.designed
{
	color: rgb(133, 13, 53);
	font-size: 15px;
    font-weight: normal;
}

table, th, td {
	border: 1px solid rgb(180, 16, 16);
  }

table tr:nth-child(even){
	background-color: #28269b;
	color: #e4ece3;
}

table tr:nth-child(odd){
	background-color: #71adcf;
	color: #b62e67;
}
table tr:nth-child(1){
	background-color: #010a0f;
	color: #b62e67;
}

.inputfancy{
	background-color: #79c7f1;
	color: #18030b;
	font-size: 16px;
	font-family: Cambria, Cochin, Georgia, serif;
}

.buttonfancy
{
	background-color: #f17979;
	color: #e9f0e9;
}