body {
    margin: 5px;
    background-color: white;
    font-family: arial, verdana;
    font-size: 14px;
    margin-left: 15px;
	margin-right: 15px;
  }
  
h1 {
    font-size: 25px;
    font-weight: normal;
    margin-top: 5px;
	color: mediumseagreen;
}


#heading {
    float: left;
    border: none;
}

header, footer{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

main{
	margin-left: 100px;
	margin-right: 100px;
}

h2, h3
{
	font-family: Cambria, Cochin, Georgia, serif;
	text-align: center;
	line-height: 0px;
	color: rgb(65, 24, 212);
}

a
{
	text-decoration: none;
	color: mediumseagreen;

}

a:hover
{
	text-decoration: underline;
	color: mediumseagreen;
}

figure
{
	text-align: center;
}

p
{
	color: mediumseagreen;
}

.center
{
	text-align: center;
}

div {
    border: none;
	font-size: 20px;
    font-weight: normal;
    padding: 2px;
    margin: 2px;
}

figcaption
{
	color: rgb(3, 14, 8);
	font-size: 15px;
}

p
{
	color: rgb(13, 33, 218);
	font-size: 14px;
    font-weight: normal;
}



figure img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;

}

.thumbnailListImage {
	display: block;
	opacity: 0.4;
	transition: 0.5s;
	height: 100px;
}

.thumbnailList {
	list-style: none;

	margin: 0;
	text-align: center;
}

.thumbnailListItem {		
	width: 140px;
	display: inline-block;
	border: 1px solid rgb(224, 49, 131);	
	cursor: pointer;
}

#logo {
    float: left;
    width:30%;
    border: none;
}

.ui-menu { 
    overflow: hidden;
}
.ui-menu .ui-menu {
    overflow: visible !important;
}
.ui-menu > li { 
    float: left;
    display: block;
    width: auto !important;
}
.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu > li {
    margin: 5px 5px !important;
    padding: 0 0 !important;
}
.ui-menu > li > a { 
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}
.ui-menu .ui-menu-icon { 
    margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li { 
    float:left;
    display: block;
}
